
.topnav {
    overflow: hidden;
    color: #777777; 
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif; 
    border-style: solid; 
    border-top-style:none;
    border-right-style:none;
    border-color: #cccccc;
    margin-top : 0px!important;
    margin-bottom: 20px!important;
    width: 100%;
    
  }
  .navbar-text {
        display: inline-block;
        vertical-align: top;
        background-color:#4aaaaf;
        font-family:'Georgia', Times, Times New Roman, serif;
        color:#ffffff;
        width: 20%;
        height: 50px; 
        padding:20px;
        border: none; 
        font-size: 25px;
        text-align:center;
        margin: auto;   
      
    }
  
  .topnav > a {
    float: none;
    color: #cccccc;
    background-color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;   
    width: 100px;
    text-align: center;
    padding: 4px;
    }

  body {
    background-image: url("../images/united-squares-negative.png");
    background-position: right top;
    background-color: #cccccc; 
    width: 960px;
    padding: 100px;
    margin: 9px auto;    
    border: #dddddd;   
       
  }

  img {
    float: left;
    padding: 10px;
    height: 200px;
    margin: 5px;
  
  }

  h2 { 
    color:#4aaaa5;
    background-color: #ffffff;
    
  }
  .aboutme {
    background-color: #ffffff;
    border-style: solid; 
    border-color: #cccccc;
    border-top-style: none;
    padding: 50px;
    margin: 0; 
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #777777;
    word-spacing: 8px;
   
  }
  
  .contact {
    background-color: #ffffff;
    border:solid;
    border-bottom: none;
    border-color:#cccccc; 
    padding: 10px;
    margin: 0;
    text-align: left;  
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #777777;
    word-spacing: 8px;

  }

  .line {
    border: 1px solid #cccccc;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
}

input[type=text] {
  width: 100%;
  padding: 5px 10px;
  margin: 3px;
  box-sizing: border-box;
  color:#666666;  
  box-shadow: none;

}

.form {
  color:#777777;
  border: solid; 
  border-color: #cccccc;
  border-top: none; 
  font-family:Arial, Helvetica, sans-serif;
  box-shadow: none; 
  padding: 0em; 
  background-color: #ffffff; 
  
 
}

textarea {
  padding: 20px; 
}


button {
  background-color: #4aaaa5;
  color: #ffffff;
  width: 200px;
  height:60px;
  font-family: Arial, Helvetica, sans-serif
}
.column {
  float: left;
  width: 50%; 
  height: 60%; 
  color: #ffffff; 
  position: relative; 
  text-align: center; 
  background-color: #ffffff; 

}
.row {
  background-color: #ffffff;
  width: 99.5%;
  border: solid; 
  border-color:#cccccc;
  border-top: none; 
}
.row::after {
  content: "";
  clear: both;
  display: table;  
  background-color: #ffffff; 
}

.portfolio {
  background-color: #ffffff;
    border:solid;
    border-bottom: none;
    border-color:#cccccc; 
    padding: 10px;
    margin: 0;
    text-align: left;  
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #777777;
    word-spacing: 8px;
}
.hangman {
  position: absolute;
  top: 60%; 
  left: 42%; 
  transform: translate(-50%, -50%);
  background-color:#4aaaa5;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  padding-right: 8px; 
  padding-left: 8px; 
  margin: 15px; 
  background-size: auto; 
  width: 80%
}
.rpg-game { 
  position: absolute;
  top: 40%;  
  left: 42%; 
  transform: translate(-50%, 50%);
  background-color:#4aaaa5;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  padding-right: 8.5px; 
  padding-left: 8px; 
  margin: 15px; 
  background-size: auto; 
  width: 80%;
  
}
.trivia-game {
  position: absolute;
  top: 60%; 
  left: 42%; 
  transform: translate(-50%, -50%);
  background-color:#4aaaa5;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  padding-right: 8px; 
  padding-left: 8px; 
  margin: 15px; 
  background-size: auto; 
  width: 80%
}
#footer {
    width:100%;  
     overflow: hidden;
     padding: 4px;    
     background-color: #4aaaa5;
}

#bottom-footer {
    padding:10px;
    overflow: hidden;
    background-color:#666666;  
}   

.fotter-quote {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:9px;
    color:#ffffff;
    text-align:bottom;
}

@media screen and (max-width: 980px) {
  .topnav >a{
    width: 60%; 
    padding: none; 
    margin: none;
    text-align:center; 
    display: inline-block;
    overflow:none;
    display: flex; 
    float: right;

  }
  .topnav{
    width: 60%; 
    text-align: center;  
    overflow:none;
    display: flex; 

  }
  .navbar-text{ 
    width: 60%;
    display: inline-block;
    padding: none; 
    margin: none; 
    vertical-align: top; 
    overflow:none;
    display: flex; 
    float: left; 

  } 
  .body{
    width: 100%; 

  }
  .aboutme{
    width:50%; 
    display: inline-block;
    font-size:15px;
  }
  .portfolio{
    width: 50%; 
    display: inline-block;
    font-size: 15px; 
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }
  
  .imagegallery{
    width: 50%; 
    display: inline-block; 
    flex-wrap: wrap; 
  }

  .hangman{
    max-width: 50%; 
    text-align: left; 
    left: 30%; 
    flex-wrap: wrap; 
    transform: (-30%,-30%)
    position: absolute; 
    padding: none; 

  }
  .rpg-game{
    max-width: 50%; 
    text-align: left; 
    left: 30%; 
    position: absolute; 
    padding: none; 
  }
  .trivia-game{
    position: absolute;
    left: 30%; 
    padding: none; 
  }
  .line{
    width: 80%; 
  }

  .contact{
    width: 100%; 
    display: inline-block;
    
  }
  
  .form{
    width: 100%; 
    display: inline-block;
    font-size:15px;
  }  
  
  #footer{
    width:60%;
  }
  #bottom-footer{
    width:58.6%;
  }

}

@media screen and (max-width: 768px) {
  
  
  .topnav >a{
    width: 60%; 
    padding: none; 
    margin: none;
    text-align:center; 
    display: inline-block;
    overflow:none;
    display: flex; 
    float: right;

  }
  .topnav{
    width: 60%; 
    text-align: center;  
    overflow:none;
    display: flex; 

  }
  .navbar-text{ 
    width: 60%;
    display: inline-block;
    padding: none; 
    margin: none; 
    vertical-align: top; 
    overflow:none;
    display: flex; 
    float: left; 

  } 
  .body{
    width: 100%; 

  }
  .aboutme{
    width:50%; 
    display: inline-block;
    font-size:15px;
  }
  .portfolio{
    width: 100%; 
    display: flex;
    font-size: 15px; 
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }
  
  .imagegallery{
    width: 50%; 
    display: inline-block; 
    flex-wrap: wrap; 
  }

  .hangman{
    max-width: 50%; 
    text-align: left; 
    left: 30%; 
    flex-wrap: wrap; 
    transform: (-30%,-30%)
    position: absolute; 
    padding: none; 

  }
  .rpg-game{
    max-width: 50%; 
    text-align: left; 
    left: 30%; 
    flex-wrap: wrap; 
    position: absolute; 
    transform: (-30%,-30%)e
    padding: none; 
  }
  
  .trivia-game{
    position: absolute;
    left: 30%;
    transform (-30%,-30%)  
  }
 
  .contact{
    width:100%; 
    display: inline-block;
    font-size:15px;

  }
  .form{
    width:100%; 
    display: inline-block;
    font-size:15px;
   
  }
  .textarea{
    width:100%; 
    display: inline-block;
    font-size:15px;
    padding: none; 
   
  }
  .input{
    width:50%; 
    display: inline-block;
    font-size:15px;
    padding: none; 
  }
  
  #footer{
    width:60%;
  }
  #bottom-footer{
    width:58.6%;
  }


}

@media all and (max-width: 640px) {
  .topnav >a{
    width: 60%; 
    padding: none; 
    margin: none;
    text-align:center; 
    display: inline-block;
    overflow:none;
    display: flex; 
    float: right;

  }
  .topnav{
    width: 60%; 
    text-align: center;  
    overflow:none;
    display: flex; 

  }
  .navbar-text{ 
    width: 60%;
    display: inline-block;
    padding: none; 
    margin: none; 
    vertical-align: top; 
    overflow:none;
    display: flex; 
    float: left; 

  } 
  .body{
    width: 100%; 

  }
  .aboutme{
    width:50%; 
    display: inline-block;
    font-size:15px;
  }
  .portfolio{
    width: 50%; 
    display: inline-block;
    font-size: 15px; 
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }
  
  .imagegallery{
    width: 50%; 
    display: inline-block; 
    flex-wrap: wrap; 
  }

  .hangman{
    max-width: 50%; 
    text-align: left; 
    left: 30%; 
    flex-wrap: wrap; 
    transform: (-30%,-30%)
    position: absolute; 
    padding: none; 

  }
  .rpg-game{
    max-width: 50%; 
    text-align: left; 
    left: 30%; 
    position: absolute; 
    padding: none; 
  }
  .trivia-game{
    position: absolute;
    left: 30%; 
    padding: none; 
  }
  .contact{
    width:50%; 
    display: inline-block;
    font-size:15px;

  }
  .line{
    width: 80%; 
  }
  .form{
    width:50%; 
    display: inline-block;
    font-size:15px;
    padding:none;
  }
  .textarea{
    width:30%; 
    display: inline-block;
    font-size:15px;
    padding: none; 
  }
  .input{
    width:50%; 
    display: inline-block;
    font-size:15px;
    padding: none; 
  }
  
  #footer{
    width:60%;
  }
  #bottom-footer{
    width:58.6%;
  }
   
}